$text-color: rgba($color: #2b2a2a, $alpha: 0.8);
$continer-color:rgba($color: #3a3838, $alpha: 0.4);
$btn-color:rgb(62, 25, 62);
$btn-text-color:rgb(245, 243, 243);
$btn-border:rgb(91, 77, 104);
$btn-color-hover:rgba(62, 25, 62, 0.103);
$btn-border-hover:rgb(203, 201, 205);
$text-highlight:rgba(255, 255, 255, 0.79);
